flake8>=6.1.0
coverage>=7.3.2
Sphinx>=7.2.6
setuptools>=68.2.2
wikitextparser>=0.54.0
pywikibot>=8.4.0
requests>=2.31.0
dropbox>=11.36.2
beautifulsoup4>=4.12.2
GitPython>=3.1.37
pikepdf>=8.5.1
googletrans>=3.0.0
