pip==19.2.3
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
Sphinx==1.8.5
twine==1.14.0

setuptools~=60.9.3
wikitextparser>=0.47.5
pywikibot~=6.6.5
requests~=2.27.1
dropbox~=11.27.0
beautifulsoup4~=4.8.2
